body {
  font-family: 'calibri', arial, sans-serif;
  font-weight: 300;
  background-image: url(parchment.jpg);
  background-repeat: repeat;
}
img {
	width:250px;
}
h1 {
	color: red;
}
#intro {
	text-align: center;
}
#video {
	color: green;
}
.heading {
	color: blue;
}